<div class="chat-boton" (click)="toggle()">
  💬
</div>

<div class="chat-container" *ngIf="mostrar">

  <!-- MENSAJES -->
  <div class="mensajes">
    <div 
      *ngFor="let msg of mensajes"
      [class.mio]="msg.usuario_email === usuario"
      class="mensaje">

      <b>{{ msg.usuario_email }}</b>
      <p>{{ msg.mensaje }}</p>

    </div>
  </div>

  <!-- INPUT ABAJO -->
  <div class="input">
    <input [(ngModel)]="nuevoMensaje" placeholder="Escribí un mensaje">
    <button (click)="enviar()">➤</button>
  </div>

</div>